.text-error {
    color: red;
}

.text-success {
    color: green;
}

.text-warn {
    color: goldenrod;
}

.btn {
    font-size: .9rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: transparent;
    border-width: 2px;
    border-style: solid;
    transition-duration: .3s;
    font-family: system-ui;
    font-weight: 700;
    line-height: 1.5;
    color: var(--element-primary);
    border-color: var(--element-primary);
    border-radius: .25rem;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover {
    color: #d9dbdf;
    border-color: #d9dbdf;
}

.btn--hidden {
    display: none;
}


.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 600px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.form-control {
    display: flex;
    flex-direction: column;
}

.form-control>input,
.form-control>textarea {
    width: 100%;
    display: inline-flex;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: transparent;
    border-width: 2px;
    border-style: solid;
    font-family: system-ui;
    border-radius: .25rem;
    color: #d9dbdf;
    border-color: #d9dbdf;
    outline: none;
}

.form-control-group {
    display: flex;
    justify-content: space-between;
    margin-top: .25rem;
    font-size: .75rem;
}

.form-control-error {
    color: red;
}

.form-control-required {
    color: orange;
}


/* Custom select */

.custom-select {
    position: relative;
    width: 200px;
    font-family: system-ui;
}

.custom-select select {
    display: none;
}

.select-selected {
    background-color: rgb(22 20 44);
    border: 2px solid rgb(35 33 64);
    border-radius: .25rem;
}

/*style the arrow inside the select element:*/
.select-selected:after {
    position: absolute;
    content: "";
    top: 1rem;
    right: .75rem;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #d9dbdf transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #d9dbdf transparent;
    top: .5rem;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
    color: #d9dbdf;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;
    user-select: none;
}

/*style items (options):*/
.select-items {
    position: absolute;
    background-color: rgb(22 20 44);
    border: 2px solid rgb(35 33 64);
    border-radius: .25rem;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    color: #000;
    background-color: #a4a0fb;
}


/* Tabs */

.tabs {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.tabs__menu {
    flex-shrink: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.tabs-menu-item {
    width: 100%;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: .75rem;
    padding-right: .75rem;
    border-radius: .25rem;
    user-select: none;
    cursor: pointer;
}

.tabs-menu-item:hover,
.tabs-menu-item--active {
    color: #000;
    background-color: #a4a0fb;
}

.tabs-panel--closed {
    display: none;
}

@media (min-width: 512px) {
    .tabs {
        flex-direction: row;
    }

    .tabs__menu {
        width: 180px;
    }
}


/* main */

.brand {
    color: var(--text-primary);
    font-weight: 500;
}

.title {
    color: #d9dbdf;
    font-weight: 500;
    font-size: 2.5em;
    margin: 2rem 0;
}

.content {
    position: relative;
}

.container {
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.content {
    max-width: none;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding-left: .75rem;
    padding-right: .75rem;
}

@media (min-width: 1024px) {
    main {
        padding-left: 12.5rem;
    }

    .content {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

.content__inner {
    max-width: none;
    min-height: calc(100vh - 19rem);
}

/* header */

header {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 40;
    border-bottom: 1px solid rgb(33 35 64);
    background-color: var(--bg-primary);
}

.header-container {
    position: relative;
    height: 70px;
    display: flex;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}


.header-title {
    display: flex;
    align-items: center;
}

.header-nav-toggle {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: auto;
}


@media (min-width: 1024px) {
    .header-nav-toggle {
        display: none;
    }
}

.header-nav-toggle__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    color: rgb(217 219 223);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header-nav-toggle__btn>svg {
    width: 1.5rem;
    height: 1.5rem;
}


/* sidebar */

.sidebar {
    position: fixed;
    width: 14.5rem;
    top: 70px !important;
    left: -240px !important;
    right: auto !important;
    z-index: 30;
    overflow-y: auto;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-right: 1px solid rgb(33 35 64);
    transition-duration: .3s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    background-color: var(--bg-primary);
    inset: 0;
}

.sidebar-responsive-open {
    left: max(0px, calc(50% - 45rem)) !important;
}

.sidebar-container {
    position: relative;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin: 0;
    padding: 0;
}

.sidebar-nav__item {
    margin: 0;
    padding: 0;
}

.sidebar-nav__item__link {
    display: inline-flex;
    align-items: center;
    gap: .75rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: .75rem;
    padding-right: .75rem;
    border-radius: .25rem;
    text-decoration: inherit;
    color: #d9dbdf;
    border: 1px solid transparent;
    transition-duration: .3s;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.sidebar-nav__item__link:hover {
    background-color: rgb(22 20 44);
    border: 1px solid rgb(35 33 64);
}

.sidebar-nav__item__link>svg {
    width: 1rem;
    height: 1rem;
}

.sidebar-separator {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 1px solid rgb(35 33 64);
}

.lightbox {
    z-index: 20;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
    display: none;
    cursor: pointer;
}

.lightbox-open {
    display: block;
}

@media (min-width: 1024px) {
    .sidebar {
        left: max(0px, calc(50% - 45rem)) !important;
    }

    .lightbox-open {
        display: none;
    }
}


/* profile */

.profile-container {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.profile-games-title {
    font-size: 2rem;
    font-weight: 400;
    margin: .5rem 0 .25rem 0;
}

.profile__bio__wrapper {
    margin: 0 0 .75rem 0;
}

.profile__bio {
    font-style: italic;
    font-family: system-ui;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 1rem;
    line-height: 1.3;
}


/* games */

.games-filter-widget {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

.games-filter-widget-group {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.games-grid {
    display: grid;
    gap: 1.5rem;
    margin-top: 1.5rem;
}

.games-grid-empty {
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.games-grid-empty__text {
    font-size: 1.75rem;
    font-weight: 500;
}

@media (min-width: 512px) {
    .games-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px) {
    .games-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.games-card {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .5s;
    transition-property: all;
    background-color: rgb(22 20 44);
    border: 1px solid rgb(35 33 64);
    border-radius: .25rem;
    padding: 0.75rem;
}

.games-card-row {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.games-card__title {
    margin: 0;
    padding: 0;
    color: #d9dbdf;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
}

.games-card__image-wrapper {
    width: 100%;
    aspect-ratio: 4 / 3;
}

.games-card__image-wrapper>img {
    width: 100%;
    height: 100%;
}

.games-card__author {
    color: #d9dbdf;
    font-weight: 400;
}

.games-card__date {
    font-weight: 500;
    color: var(--text-primary);
}

.games-card__genre {
    color: #a4a0fb;
}

.games-card__stars {
    font-size: 1.25rem;
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: .25rem;
}

.games-card__stars__count {
    font-family: system-ui;
    font-weight: 500;
}

.games-card__stars__star {
    color: gold;
}

.game-details-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.game-details-row {
    display: grid;
    gap: 1.75rem;
}

@media (min-width: 634px) {
    .game-details-row {
        grid-template-columns: repeat(2, 1fr);
    }

    .game-details-row__cover-image {
        order: 2;
    }

    .game-details-row__details {
        order: 1;
    }
}

.game-details-btn-wrapper {
    display: flex;
    align-items: center;
    gap: .75rem;
    margin-top: 1rem;
}

.game-details-btn {
    font-size: 1rem;
    width: 100px;
    text-decoration: none;
}

.game-details {
    padding: 0;
    margin: 0;
    font-size: 1.25rem;
}

.game-details>li {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.game-details-label {
    display: inline-flex;
    width: 160px;
    justify-content: end;
    color: var(--text-primary);
}

.game-details__image-wrapper {
    width: 100%;
    aspect-ratio: 4 / 3;
}

.game-details__image-wrapper>img {
    width: 100%;
    height: 100%;
}

.game-details__description {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 1.25rem;
    line-height: 1.3;
}

.game-details__stars {
    display: inline-flex;
    gap: .5rem;
}

.game-details__stars__star {
    color: gold;
}

.edit-game-back-btn-wrapper {
    display: flex;
    margin: 1.25rem 0;
}

.games-upload-btn-wrapper {
    display: flex;
    margin: 1.25rem 0;
}

.games-upload-btn-wrapper>a {
    text-decoration: none;
}

/* pagination */

.pagination-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.pagination {
    display: inline-flex;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: rgb(22 20 44);
    border: 1px solid rgb(35 33 64);
    border-radius: .25rem;
}

.pagination__item:not(:first-child) {
    border-left: 1px solid rgb(35 33 64);
}

.pagination-separator,
.pagination-link {
    display: inline-block;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: #d9dbdf;
    text-decoration: none;
    user-select: none;
}

.pagination__item:first-child>.pagination-link {
    border-bottom-left-radius: .25rem;
    border-top-left-radius: .25rem;
}

.pagination__item:last-child>.pagination-link {
    border-bottom-right-radius: .25rem;
    border-top-right-radius: .25rem;
}

.pagination-link:hover,
.pagination-link--active {
    background-color: #a4a0fb;
    color: #000;
}


/* cover image */

.cover-image-container {
    width: 300px;
    max-width: 100%;
    aspect-ratio: 4 / 3;
}

.cover-image-container__image {
    width: 100%;
    height: 100%;
}

/* comments */

.comment-list {
    margin: 2.25rem 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
}

.comment {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.comment__header {
    display: flex;
    gap: .75rem;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.25rem;
}

.comment__author {
    color: #d9dbdf;
    font-weight: 400;
}

.comment__date {
    font-weight: 500;
    color: var(--text-primary);
}

.comment__body {
    width: 100%;
    border-radius: .25rem;
    padding: .5rem .75rem;
    background-color: rgb(22 20 44);
    border: 1px solid rgb(35 33 64);
    max-width: 600px;
}

.comment__message {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 1.25rem;
    line-height: 1.3;
    font-style: italic;
}

/* Register */

.register-wrapper {
    display: flex;
    justify-content: center;
}

.register-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 320px;
    max-width: 90%;
}

/* Home */

.home-title {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
}

.home-description {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 2rem;
    text-align: center;
}

.home-row {
    margin-top: 3rem;
    display: grid;
    gap: 2rem;
}

@media (min-width: 768px) {

    .home-row {
        grid-template-columns: repeat(2, 2fr);
    }

}

.home-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: rgb(22 20 44);
    border: 1px solid rgb(35 33 64);
    border-radius: .25rem;
    padding: 1rem;
}

.home-card__title {
    margin: .75rem 0 .25rem 0;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--element-primary);
}

.centered {
    text-align: center;
}

/* footer */

.footer {
    text-align: center;
    margin-top: 2rem;
}