/* main */

main {
    padding-left: 0;
}

/* header */

header {
    display: none;
}

/* sidebar */

.sidebar {
    display: none;
}

/* games */

.game-details-row {
    grid-template-columns: repeat(1, 1fr);
}

.game-details-row__cover-image {
    order: 1;
}

.game-details-row__details {
    order: 2;
}

/* pagination */

.pagination {
    border: none;
}