:root {
    --bg-primary: rgb(19 17 39);
    --text-primary: rgb(240 86 199);
    --element-primary: rgb(255 96 144);
}

* {
    box-sizing: border-box;
    line-height: 1.3;
    font-family: Inconsolata, monospace;
}

body {
    margin: 0;
    max-width: none;
    background-color: var(--bg-primary);
    color: #d9dbdf;
}

ul {
    list-style: none;
}

a {
    color: #a4a0fb;
    text-decoration: underline;
    font-weight: 500;
    cursor: pointer;
    word-break: break-word;
}

a * {
    color: #d9dbdf;
    font-weight: 300;
    word-break: break-word;
    cursor: pointer;
}

svg {
    display: block;
}